@import "tailwindcss";

@theme {
    --animate-infinite-scroll: infinite-scroll 25s linear infinite;
    @keyframes infinite-scroll{
        0% {
            transform: translateX(0)
        }
        100% {
            transform: translateX(-100%)
        }
    }
    --color-dark-blue: #525BFF;
    --color-light-blue: #05B9FF;
    --color-light-gray: #D9D9D9;
    --color-white-blue: #DADCFF;
}