---                              
import Footer from '../components/Footer.astro'
import '../styles/global.css'  

import { getLangFromUrl } from '../i18n/utils';

import favIcon from "../assets/favicon.svg"

const lang = getLangFromUrl(Astro.url);
---   
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content="Evogrowth - Software a tu medida" />
		<meta name="description" content="Somos una empresa comprometida con el crecimiento empresarial de nuestros clientes." />
		<meta name="keywords" content="desarrollo,software,evogrowth,tech,web,development" />
		<meta name="google-site-verification" content="ibzjaLK84ClN5CdlxTXwn7C7IVuDoGki2c7t_894b3A" />
		<link rel="icon" type="image/svg+xml" href={favIcon.src} />
		<meta property="og:title" content="Evogrowth - Software a tu medida"/>
		<meta property="og:description" content="Somos una empresa comprometida con el crecimiento empresarial de nuestros clientes."/>
		<meta property="og:url" content="https://evogrowth.dev/"/>
		<meta property="og:image" content={favIcon.src}/>
		<meta property="og:type" content="website"/>
		<meta property="generator" content={Astro.generator} />
		<title>Evogrowth</title>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
