---                              
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro';
import '../styles/global.css'  

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---   
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content={t("meta.title")} />
		<meta name="description" content={t("meta.description")} />
		<meta name="keywords" content="desarrollo de software,evogrowth,tech,web development" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta property="og:title" content={t("meta.title")}/>
		<meta property="og:description" content={t("meta.description")}/>
		<meta property="og:url" content="https://evogrowth.dev/"/>
		<meta property="og:image" content="/favicon.svg"/>
		<meta property="og:type" content="website"/>
		<meta property="generator" content={Astro.generator} />
		<title>{t("meta.title")}</title>
	</head>
	<body id="home" class="flex flex-col min-h-screen">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
</style>